
{% extends 'base.html.twig' %}

{% block title %}Edit Livre{% endblock %}

{% block body %}
    <br>
    <br>
    <h1>Edit Livre</h1>
    <br>
    <br>
    {{ include('livre/_form.html.twig', {'button_label': 'Update'}) }}

<div style="width: 300px; display: flex;justify-content:space-between">
    <a href="{{ path('livre_index') }} " class="btn btn-primary">back to list</a>

    {{ include('livre/_delete_form.html.twig') }}
</div>
{% endblock %}
